* {
  box-sizing: border-box;
}


body{
        margin:15px;
        padding:10px;
        position:relative;
        background-color:white;
    }


  header{
         
        background-color:white;
         padding:0%;
       background-image:url("../website/head.jpg");
        background-image:100%;
       width:1000px;

      }
       nav>a{
                display:inline-block;
                padding:20px;
                margin:2px;
                text-decoration:none;
                background-color:transparent;
                border-width: 10px 3px;
                color:black;
                border-radius:25px;
                width:19%;
                height:5px; 
                text-align:center;
                font-weight:bold;
                font-size:21px;

  }
h1{
       text-align:center;
        text-transform:uppercase;
       font-size:40px;
       color:black;
       
  
}

a:hover{
  
  background-color:white;
   color:blue;

}

h2{
  color:black;
  text-align: center;
 
 }
.right{

   font-size:20px;
  background-image: url("../website/tea.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:120%;
  width:80%;
  color:black;
  text-align:center;
  width:74%;
  display: inline-block;
  padding-left:0.2%;
  margin:0.2px;
  border: solid 5px tomato;

}

.lefts img {
  border: solid 10px #FFFACD;
  width: 80%;
  margin:14%;
}
.lefts{
  width:24%;
  float:left;
  padding:1.5% 0;
  background-image:url("../website/flowers.jpeg");
}
.modi{
  font-size:20px;
  background-image: url("../website/images.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:120%;
  width:80%;
  color:black;
  text-align:center;
  width:74%;
  display: inline-block;
  padding-left:0.2%;
  margin:0.2px;
  border: solid 5px blue;
}

.modis{
  font-size:20px;
  background-image: url("../website/books.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:120%;
  color:black;
  text-align:center;
  width:74%;
  display: inline-block;
  padding-left:0.2%;
  margin:0.2px;
  border: solid 5px orange;
}

footer
{
  height:auto;
  width:98%;  
  border:solid 15px;
  margin:0.3px;
  background-color:white; 
  border-color:#34eba4 #34eba4 #f28d8d#f28d8d;
  text-align:center;

}
.hide {
  display: none;
}
    
.mydiv:hover + .hide {
  display: block;
  color: blue;
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- laptop ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
@media only screen   
and (min-width: 1370px)  
and (max-width: 1605px)  
{ /* STYLES GO HERE */} 

